/* ==========================================================================
   Header responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   Header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-page-header {
    display: none;
  }
}

/* ==========================================================================
   Header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .qodef-boxed .qodef-page-header .qodef-fixed-wrapper.fixed {
    width: 1000px;
  }
}

/* ==========================================================================
   Fixed header responsive style - end
   ========================================================================== */
/*==========================================================================
# Fullscreen menu responsive style - begin
========================================================================== */
@media only screen and (max-width: 1440px) {
  .qodef-fullscreen-menu-holder-inner {
    padding: 8% 16.2%;
  }
}

@media only screen and (max-width: 1366px) {
  .qodef-fullscreen-menu-holder-inner {
    padding: 5% 16.2%;
  }
  .qodef-fullscreen-menu-holder-inner nav.qodef-fullscreen-menu > ul > li > a {
    font-size: 66px;
    line-height: 92px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-fullscreen-menu-holder-inner {
    padding: 8% 12.2%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-fullscreen-menu-holder-inner {
    padding: 30% 9.2%;
  }
  .qodef-fullscreen-menu-holder-inner nav.qodef-fullscreen-menu > ul > li > a {
    font-size: 55px;
    line-height: 75px;
  }
}

/*==========================================================================
# Fullscreen menu responsive style - end
========================================================================== */
/* ==========================================================================
   Header Vertical - Sliding responsive style - begin
   ========================================================================== */
@media only screen and (min-width: 1490px) and (max-width: 1650px) {
  .qodef-header-vertical-sliding .qodef-grid,
  .qodef-header-vertical-sliding .qodef-container-inner,
  .qodef-header-vertical-sliding .qodef-row-grid-section {
    width: 1100px;
  }
}

@media only screen and (min-width: 1314px) and (max-width: 1490px) {
  .qodef-header-vertical-sliding .qodef-grid,
  .qodef-header-vertical-sliding .qodef-container-inner,
  .qodef-header-vertical-sliding .qodef-row-grid-section {
    width: 1035px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1314px) {
  .qodef-header-vertical-sliding .qodef-grid,
  .qodef-header-vertical-sliding .qodef-container-inner,
  .qodef-header-vertical-sliding .qodef-row-grid-section {
    width: 900px;
  }
}

@media only screen and (min-width: 1025px) {
  .error404.qodef-header-vertical-sliding .qodef-content {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-header-vertical-sliding .qodef-vertical-menu-area {
    display: none;
  }
  .qodef-header-vertical-sliding .qodef-content,
  .qodef-header-vertical-sliding footer {
    padding-left: 0;
  }
}

/* ==========================================================================
   Header Vertical - Sliding responsive style - end
   ========================================================================== */
/* ==========================================================================
   Header Vertical responsive style - begin
   ========================================================================== */
@media only screen and (min-width: 1025px) {
  .error404.qodef-header-vertical .qodef-content {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-header-vertical .qodef-vertical-menu-area {
    display: none;
  }
  .qodef-header-vertical .qodef-content,
  .qodef-header-vertical footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 950px;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 90%;
  }
}

/* ==========================================================================
   Header Vertical responsive style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-mobile-header {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-paspartu-enabled .qodef-mobile-header .qodef-grid {
    width: 90%;
  }
}

/* ==========================================================================
   Mobile header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .qodef-boxed .qodef-page-header .qodef-sticky-header {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 92%;
  }
}

/* ==========================================================================
   Sticky header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Top header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-top-bar {
    display: none;
  }
}

/* ==========================================================================
   Top header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Header responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map-responsive.css.map */
