/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.qodef-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  box-sizing: border-box;
}

.no-touch body:not(.error404) .qodef-page-footer.qodef-footer-uncover {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.qodef-right-side-menu-opened .qodef-page-footer.qodef-footer-uncover {
  left: -270px;
}

.qodef-page-footer .qodef-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #000;
  border-top: 0 solid #e1e1e1;
  box-sizing: border-box;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-bg-text {
  display: block;
  position: absolute;
  font-size: 293px;
  line-height: 0.58em;
  font-weight: 700;
  color: #0d0d0d;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  user-select: none;
  width: 100%;
  text-align: center;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-alignment-center {
  text-align: center;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-alignment-left {
  text-align: left;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-alignment-right {
  text-align: right;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-inner {
  box-sizing: border-box;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-inner.qodef-grid {
  padding: 76px 0;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-inner.qodef-full-width {
  padding: 113px 85px 76px;
}

.qodef-page-footer .qodef-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #0d0d0d;
  border-top: 0 solid #e1e1e1;
  box-sizing: border-box;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner {
  box-sizing: border-box;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner.qodef-grid {
  padding: 19px 0;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner.qodef-full-width {
  padding: 29px 85px;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
